#!/bin/bash

#####################################################################
##                                                                 ##
## !!! THIS IS NOT A PRODUCTION CONFIG !!! DEV TESTING ONLY !!!    ##
##                                                                 ##
## Copy this example into local directoy such as ~/.index-maker/   ##
## and use copy FOR DEVELOPMENT ONLY.                              ##
##                                                                 ##
## NOTE: THESE ENVIRONMENT VARIABLES ARE COMPLEMENTARY TO COMMAND  ##
## LINE AND REGULAR CONFIGURATION FILES.                           ##
##                                                                 ##
#####################################################################

# Logging and backtrace
export RUST_LOG=info,binance_sdk=warn,hyper_util=warn,binance=warn,axum=warn,market_data=warn
export RUST_BACKTRACE=1

# Binance Trading API Key
export BINANCE_API_KEY=`cat ~/.binance/apikey`
export BINANCE_PRIVATE_KEY_FILE=`echo ~/.binance/key`
export BINANCE_TRADING_ENABLED=1

echo "Enter Binance key passphrase: "
read -s PASSPHRASE
export BINANCE_PRIVATE_KEY_PHRASE=$PASSPHRASE

# Elastic API Key
export ELASTIC_API_KEY=`cat ~/.elastic/apikey`

# Index Maker Keys
export SERVER_PRIVATE_KEY=`cat ~/.index-maker/serverkey`
export INDEX_MAKER_PRIVATE_KEY=`cat ~/.index-maker/key`
export CUSTODY_AUTHORITY_PRIVATE_KEY=`cat ~/.index-maker/cakey`
