#!/bin/sh

if [ -f ./stop-service.sh ]; then 
    # Stop *previous* version of the service
    ./stop-service.sh
fi

. ~/.index_maker
export DOCKER_IMAGE_NAME="<DOCKER_IMAGE_NAME>"

# Save *current* version of service scripts
cp stop-service-<IMAGE_VERSION>.sh stop-service.sh
cp service-logs-<IMAGE_VERSION>.sh service-logs.sh

docker load -i <TAR_ARCHIVE_NAME> && \
docker-compose -f docker-compose.prod.yaml up -d --build
