#!/bin/sh

if [ -f ./stop-service.sh ]; then 
    # Stop *previous* version of the service
    ./stop-service.sh
fi

# Save *current* version of stop service script
mv stop-service-<IMAGE_VERSION>.sh stop-service.sh

docker load -i <TAR_ARCHIVE_NAME> && \
docker-compose -f docker-compose.prod-<IMAGE_VERSION>.yaml up -d --build
